### BlueSnake gitignore list ###

## Global ##
.idea/*
.vscode
.DS_Store


## Yarn ##
node_modules/*
yarn-error.log

## Client ##
/packages/client/dist/*
/packages/client/.DS_Store

## Server ##
/packages/server/.DS_Store

## Common ##